*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: black; 
}

:root {
  --btn-colour: #4A4A4A;
  --share-green: #63CC0E;
  --end-call-red: #DA3F2B;
  --footer-color: #222222;
}

/* utilities */

.container{
  width: 100%;
  height: calc(100vh - 180px);
  padding: 20px 0;
  gap: 10px;
  overflow: auto;
}

.debug {
  border: 2px solid black;
  background-color: lime;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.justify-center{
  justify-content: center;
}

.btn {
 display: inline-block;
 padding: 5px;
 border-radius: 5px;
 font-size: 0.8rem;
 text-decoration: none;
 color: white;
 background-color: var(--btn-colour);
}

/* header  */

header{
  height: 100px;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* main  */

main .user-card {
  width: 250px;
  height: 150px;
  color: white;
}

.user-card .user-image{
  position: relative;
  max-height: 150px;
}
  

.user-card .user-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.user-card .user-info {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.user-card .mic-status,
.user-card .user-name {
  margin-left: 5px;
}

.user-card .user-name {
  font-size: 0.8rem;
}

/* footer */

footer{
  height: 80px;
  width: 100%;
  color: white;
  background-color: var(--footer-color);
}

.audio-video .col,
.actions .col {
  margin-left: 10px;
}

.audio-video .text,
.actions .text {
  font-size: 0.8rem;
  text-align: center;
}

.audio-video .icon,
.actions .icon {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 15px;
}

.audio-video .arrow{
  font-size: 1.2rem;
  text-align: center;
  padding-top: 30px;
}

.audio-controll{
  height: 80px;
  align-items: stretch;
}

.video-control .col{
  flex-basis: 75%;
}

.video-controll .col:last-child{
  flex-basis: 25%;
}

.audio-video, 
.end-call {
  flex-basis: 25%;
}

.actions {
  flex-basis: 50%;
}

.end-call {
  flex-direction: row-reverse;
  align-items: stretch;
}

.end-call .end-btn{
  color: var(--end-call-red);
  background-color: var(--btn-colour);
}

.actions .col:nth-child(2),
.actions .col:nth-child(8) {
  flex-grow: 2;
}